html {
  font-size: 20px;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 16px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
  letter-spacing: 0.01em;
  font-weight: 700;
}

body * {
  font-weight: 700;
}

a {
  color: #995BD4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
